<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <ul>
      <li>
          <i style="background-color: antiquewhite">
              <a href="{% url 'calculator' %}">Using calculator</a>
          </i>
      </li>
      <li>
          <i style="background-color: lightgreen">
            <a href="{% url 'registered' %}">Registered people</a>
          </i>
      </li>
      <li>
          <i style="background-color: lightgreen">
            <a href="{% url 'registered' %}">Registered people</a>
          </i>
      </li>
    </ul>
</body>
</html>